Options +FollowSymLinks

IndexIgnore */*

RewriteEngine On

RewriteCond %{REQUEST_FILENAME}	!-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule (.+) index.php?rstsvr__path=$1&%{QUERY_STRING} [L]